body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game {
  border-bottom: 0.01rem #999999 solid;
}

.game button {
  font-size: 90%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #336699;
  color: white;
}